.items {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 20px;
}

.item-btn {
    margin-left: 5px;
    font-size: 25px;
    border: none;
    background-color: white;
}


.item-list {
    overflow: auto;
}
.check {
    color: green;
}

.delete {
    color: red;
}

.label {
    text-decoration: line-through;
}

