.items {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 20px;
}

.item-btn {
    margin-left: 5px;
    font-size: 20px;
    border: none;
    background-color: white;
}


.item-list {
    overflow: auto;
}
.check {
    background-color: green;
    border-radius: 50%;
}

.delete {
    background-color: red;
    border-radius: 50%;
}

.label {
    text-decoration: line-through;
}

