body {
    /* background-color: #E6E6E4; */
    background-color: #f8f0f2;
}
.nav-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
    /* margin-top: 20px; */
    padding-top: 5px;
    height: 60px;
    background-color: #f8f0f2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.logo-img {
    padding-bottom: 5px;
    margin-left: 0 !important;
}
.nav-text {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-family: 'Tinos', serif;
    font-size: 25px;
}


a {
    text-decoration: none;
    color: black;
}


.modal {
    background-color: black;
}

.home-container {
    display: flex;
    height: 90vh;
}

.home-left, .home-right {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 65px;
    line-height: 50px;
    font-family: 'Tinos', serif;
}

.title-1 {
    font-size: 65px;
    margin-bottom: 30px;
    font-family: 'Tinos', serif;
}

.subtitle {
    margin-top: 25px;
    line-height: 10px;
    font-family: 'Tinos', serif;
}


